/* .attribution {
    font-size: 11px;
    text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */


* {
    font-family: Montserrat;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}



body {
    min-height: 100vh;
    background-image: url(./images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-color: #E4DCCF;
    display: flex;
    justify-content: center;
}

.container {
    align-self: center;
    display: flex;
    background-image: url(./images/bg-top.svg);
    background-color: #F6F1E9;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
    border-radius: 1em;
    padding: 5em;
    background-repeat: no-repeat;
}

.head {
    text-align: center;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 1em;
}

.head h2,
.head label {
    color: hsl(232, 13%, 33%);
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main1,
.main2,
.main3 {
    color: hsl(232, 13%, 33%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    height: 20em;
    width: 15em;
    border-radius: 1em;
}

.main h3 {
    margin-top: 1em;
}

.main hr {
    width: 70%;
}

.main1 button:hover,
.main2 button:hover,
.main3 button:hover {
    cursor: pointer;
}

.main1 button,
.main2 button,
.main3 button {
    width: 70%;
    align-self: center;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 12px;
    /* border-color: transparent; */
}

.main1 button,
.main3 button {
    color: #fff;
    background-color: hsl(240, 37%, 59%);
}


.main2 button {
    background-color: #fff;
}

.main2 {
    color: #fff;
    background-color: hsl(240, 37%, 59%);
    transform: scale(1.07);
}


.range-choice-container {
    display: flex;
    justify-content: space-around;
}

input[type="range"] {
    flex-basis: 3em;
    width: 8%;
    height: 70%;
    background-color: hsl(240, 37%, 59%);
    padding: 2px;
    border-radius: 16px;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #ece2e2;
    border-radius: 50%;

}